<?xml version="1.0" encoding="UTF-8"?>
<web-app>

    <servlet>
        <servlet-name>visualizzaNazioni</servlet-name>
        <servlet-class>Nazioni</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>visualizzaNazioni</servlet-name>
        <url-pattern>/visualizza</url-pattern>
    </servlet-mapping>
</web-app>
