<?xml version="1.0" encoding="UTF-8"?>
<web-app>

    <servlet>
        <servlet-name>registrazioneStudente</servlet-name>
        <servlet-class>Studente</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>registrazioneDocente</servlet-name>
        <servlet-class>Docente</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>registrazioneStudente</servlet-name>
        <url-pattern>/registrazioneStudente</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>registrazioneDocente</servlet-name>
        <url-pattern>/registrazioneDocente</url-pattern>
    </servlet-mapping>
</web-app>
